@page
@model OdeToFood.Pages.Restaurants.ClientRestaurantsModel
@{
    ViewData["Title"] = "ClientRestaurants";
}

<h2>Client Restaurants</h2>

@* embedding too much gets messy but done to keep  *@
@section Scripts{ 
    <script>

        $(function () {
            $.ajax("/api/restaurants/", { method: "get" }).then(function (response) {
                console.dir(response);
            });
        });
    </script>
}